@model Data.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
    </tr>


    <tr>
        <td>
            @Html.ViewData.Model.Firstname
        </td>
        <td>
            @Html.ViewData.Model.Lastname
        </td>
       
        <td>
            @Html.ViewData.Model.Adress
        </td>
        <td>
            @Html.ViewData.Model.Email
        </td>
        
    </tr>
}

</table>
