@model IEnumerable<Grupp_2.Models.MessagesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Mark all as read", "MarkAllAsRead", new { userID = ViewBag.userID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender) 
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @if (item.Read == true)
                {
                    @Html.ActionLink("Mark as unread", "MarkAsUnRead", new { id = item.MessageID })
                }
                else
                {
                    @Html.ActionLink("Mark as read", "MarkAsRead", new { id = item.MessageID })
                } 
                @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })
            </td>
        </tr>
    }

</table>
