@model Grupp_2.Models.CreateCVViewModel
@{
    ViewBag.Title = "CreateCVVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h3>Din profilbild:</h3>
    <img src="F:/Foton/Bilder/Wall/912208.jpg" />
</div>

<h4>Tillagda Utbildningar i ditt cv:</h4>
<ul>
    @foreach (var item in Model.Educations)
    {
        <li>
            @item.Title;
        </li>

    }
</ul>

<hr />

<h4>Tillagda Arbets erfarenheter i ditt cv:</h4>
<ul>
    @foreach (var item in Model.Work_Experiences)
    {
        <li>
            @item.Titel;
        </li>

    }
</ul>

<hr />

<h4>Tillagda färdigheter i ditt cv:</h4>
<ul>
    @foreach (var skills in Model.Skills)
    {
        <li>
            @skills.Title;
        </li>

    }
</ul>

<hr />

<tr>
    <td> Lägg till en ny färdighet i ditt cv: </td>
    <td>
        @Html.DropDownList("MySkills", (IEnumerable
       <SelectListItem>)ViewData["DBMySkills"])
    </td>
</tr>

<hr />

<tr>
    <td> Lägg till en ny Arbets erfarenhet i ditt cv: </td>
    <td>
        @Html.DropDownList("WorkExp", (IEnumerable
       <SelectListItem>)ViewData["DBMyWorkExp"])
    </td>
</tr>

<hr />

<tr>
    <td> Lägg till en ny Utbildning i ditt cv: </td>
    <td>
        @Html.DropDownList("MyEducations", (IEnumerable
       <SelectListItem>)ViewData["DBMyEducations"])
    </td>
</tr>


