@model Grupp_2.Models.CreateCVViewModel
@{
    ViewBag.Title = "CreateCVVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h3>Din profilbild:</h3>
    <img src="F:/Foton/Bilder/Wall/912208.jpg" style="max-width: 400px; max-height: 400px" />
</div>

<h4>Tillagda Utbildningar i ditt cv:</h4>
<ul>
    @foreach (var item in Model.Educations)
    {
        <li>
            @item.Title;
        </li>

    }
</ul>

<hr />

<h4>Tillagda Arbets erfarenheter i ditt cv:</h4>
<ul>
    @foreach (var item in Model.Work_Experiences)
    {
        <li>
            @item.Titel;
        </li>

    }
</ul>

<hr />

<h4>Tillagda färdigheter i ditt cv:</h4>
<ul>
    @foreach (var skills in Model.Skills)
    {
        <li>
            @skills.Title;
        </li>

    }
</ul>

<hr />

<tr>
    <td> Lägg till en ny färdighet i ditt cv: </td>
    <td>
        @Html.DropDownList("MySkills", (IEnumerable
       <SelectListItem>)ViewData["DBMySkills"])

        <input type="submit" value="Lägg till Färdighet i cvet" class="btn btn-default" />
    </td>

</tr>

<hr />

<tr>
    <td> Lägg till en ny Arbets erfarenhet i ditt cv: </td>
    <td>
        @Html.DropDownList("WorkExp", (IEnumerable
       <SelectListItem>)ViewData["DBMyWorkExp"])

       
       <input type="submit" value="Lägg till arbete i cvet" class="btn btn-default" />
            
    </td>
    

</tr>
<hr />

<tr>
    <td> Lägg till en ny Utbildning i ditt cv: </td>
    <td>
        @Html.DropDownList("MyEducations", (IEnumerable
       <SelectListItem>)ViewData["DBMyEducations"])

        <input type="submit" value="Lägg till Utbildning i cvet" class="btn btn-default" />
    </td>
</tr>

    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Uppdatera CV" class="btn btn-default" />
    </div>

   


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lägg till ny färdighet" class="btn btn-default" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lägg till ny utbildning" class="btn btn-default" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lägg till ny arbete" class="btn btn-default" />
                </div>
