@model Grupp_2.Models.CreateCVViewModel
@{
    ViewBag.Title = "CreateCVVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UpdateCvVm", "Cv", FormMethod.Post)) { 
<div>
    <h3>Din profilbild:</h3>
    <img src="F:/Foton/Bilder/Wall/912208.jpg" style="max-width: 400px; max-height: 400px" />
</div>

<h4>Tillagda Utbildningar i ditt cv:</h4>
<ul>
    @foreach (var item in  Model.Educations)
    {
    <li>
        @item.Title   <input type="submit" name="actionType" value="Ta bort utbildning @item.Title"  class="btn btn-default" />
    </li>

    }
</ul>

<hr />

<h4>Tillagda Arbets erfarenheter i ditt cv:</h4>
<ul>
    @foreach (var item in Model.Work_Experiences)
    {
    <li>
        @item.Titel <input type="submit" name="actionType" value="Ta bort arbete @item.Titel" class="btn btn-default" />
    </li>

    }
</ul>

<hr />

<h4>Tillagda färdigheter i ditt cv:</h4>
<ul>
    @foreach (var skills in Model.Skills)
    {
    <li>
        @skills.Title <input type="submit" name="actionType" value="Ta bort erfarenhet @skills.Title" class="btn btn-default" />
    </li>

    }
</ul>

<hr />

<tr>
    <td> Lägg till en ny färdighet i ditt cv: </td>
    <td>


        @Html.DropDownList("MySkills", (IEnumerable
       <SelectListItem>)ViewData["DBMySkills"])

        <input type="submit" name="actionType" value="Lägg till färdighet på ditt cv" class="btn btn-default" />

       


    </td>

</tr>

<hr />

<tr>
    <td> Lägg till en ny Arbets erfarenhet i ditt cv: </td>
    <td>
        @Html.DropDownList("WorkExp", (IEnumerable
       <SelectListItem>)ViewData["DBMyWorkExp"]) 


        <input type="submit" name="actionType" value="Lägg till arbete i cvet" class="btn btn-default" />

    </td>


</tr>
<hr />

<tr>
    <td> Lägg till en ny Utbildning i ditt cv: </td>
    <td>
        @Html.DropDownList("MyEducations", (IEnumerable
       <SelectListItem>)ViewData["DBMyEducations"])

        <input type="submit" name="actionType" value="Lägg till Utbildning i cvet" class="btn btn-default" />
    </td>
</tr>

}
    
    <p>
        @Html.ActionLink("Lägg till ny Färdighet", "Create", "Skill")
        @Html.ActionLink("Lägg till nytt Arbete", "Create", "Work_Experience")
        @Html.ActionLink("Lägg till ny Utbildning", "Create","Education")
    </p>

   
