@model IEnumerable<Data.Models.CV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Firstname)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ImgPath)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Firstname)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImgPath)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CVID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CVID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CVID })
        </td>
    </tr>
}

</table>
