@model Grupp_2.Models.CreateCVViewModel
@{
    ViewBag.Title = "ShowCVVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cv för @Model.User</h2>
<div>
    <h3>Profilbild:</h3>
    <img src=@Model.Imgpath alt="Profilbild kunde inte laddas" style="border-radius: 50%" , width="300px" />
</div>

<br />
<h4>Kontaktinformation:</h4>
<p>Adress: @Model.Adress</p>
<p>Epost: @Model.Email</p>
<br />

<hr />

<h4>Utbildningar:</h4>
<ul>
    @foreach (var item in Model.Educations)
    {
        <li>
            @item.Title
        </li>

    }
</ul>

<hr />

<h4>Arbetserfarenheter:</h4>
<ul>
    @foreach (var item in Model.Work_Experiences)
    {
        <li>
            @item.Titel
        </li>

    }
</ul>

<hr />

<h4>Färdigheter:</h4>
<ul>
    @foreach (var skills in Model.Skills)
    {
        <li>
            @skills.Title
        </li>

    }
</ul>

<hr />
<br />

<h4>Projekt:</h4>
<table class="table">
    <tr>
        <th>
            Skapare

        </th>
        <th>
            Titel
        </th>
        <th>
            Beskrvining
        </th>
    </tr>
    @foreach (var item in Model.Projects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

        </tr>


    }
    <table />
    
        <br />

    <div>@{Html.RenderAction("Create", "Message", new { id = Model.UserID });} </div>


