@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Grupp 2's CV sida</h1>
    <p class="lead"> Skapad av Anton Lyrberg, Noel Lindgren, Jonathan Gabrielsson</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Urval av cv's:</h2>

        <p>
            @if (ViewBag.Count >= 1)
            {
                <a>@Html.RouteLink("Kolla på " + (string)(ViewBag.Name[0]) + "s CV", "ShowUserCv", new { userid = ViewBag.Uid[0] })  </a> <hr>
            }
            @if (ViewBag.Count >= 2)
            {
                <a>@Html.RouteLink("Kolla på " + (string)(ViewBag.Name[1]) + "s CV", "ShowUserCv", new { userid = ViewBag.Uid[1] })  </a> <hr>
            }
            @if (ViewBag.Count >= 3)
            {
                <a>@Html.RouteLink("Kolla på " + (string)(ViewBag.Name[2]) + "s CV", "ShowUserCv", new { userid = ViewBag.Uid[2] })  </a> <hr>
            }

        </p>
    </div>

    <div class="col-md-4">
        <h2>Senaste projeketet</h2>

        <a href=@Url.Action("ProjectVM", "Project" )> @ViewBag.Projectnamn</a>


        @if (ViewBag.Projects == null)
        {
            <p>Logga in om du vill gå med i detta projekt!</p>
        }

        else if (!ViewBag.Projects.Contains(ViewBag.ProjId.ToString()))
        {
            <input type="button" value="Gå med i projekt" onclick="location.href='@Url.Action("JoinProject", "Home", new { id = ViewBag.ProjId })'" />
        }
        else
        {
            <input type="button" value="Gå ur projekt" onclick="location.href='@Url.Action("LeaveProject", "Home", new {id = ViewBag.ProjId})'" />
        }

        <p> Skapad av :  @ViewBag.creator </p>
    </div>

    <div class="col-md-4">
        <h2>Om hemsidan</h2>
        <p>
            Denna ASPNET-sida utvecklades under kursen: Informatik, Webbsystem med .NET, fortsättningskurs, HT21, IK204G. Syftet var att få en grundläggande förståelse hur en ASPNET-sida fungerar tillsammans med
            MVC och Entity Framework (code first).
        </p>
        <p><a class="btn btn-default" href="http://lily.oru.se/studieinformation/VisaKursplan?kurskod=IK204G&termin=20182&format=xml&sprak=sv">Läs mer &raquo;</a></p>
    </div>
</div>