@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Grupp 2's Cv Site</h1>
    <p class="lead"> Skapad av Anton Lyrberg, Noel Lindgren, Jonathan Gabrielsson</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Urval av cv's:</h2>
        
        <p>
            @if (ViewBag.Count >= 1)
            {
                <a>@Html.RouteLink("Kolla på " + (string)(ViewBag.Name[0]) + "s CV", "ShowUserCv", new { userid = ViewBag.Uid[0] })  </a> <hr>
            }
            @if (ViewBag.Count >= 2)
            {
                <a>@Html.RouteLink("Kolla på " + (string)(ViewBag.Name[1]) + "s CV", "ShowUserCv", new { userid = ViewBag.Uid[1] })  </a> <hr>
            }
            @if (ViewBag.Count >= 3)
            {
                <a>@Html.RouteLink("Kolla på " + (string)(ViewBag.Name[2]) + "s CV", "ShowUserCv", new { userid = ViewBag.Uid[2] })  </a> <hr>
            }

        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Senaste projeketet</h2>

        <a href=@Url.Action("Index", "Project" )> @ViewBag.Projectnamn</a>

        @*if och else funkar här nedan men blir error vid start om det inte är en inloggad användare. Behöver fixas med en till IF*@
        @if(ViewBag.Projects == null)
            {
                <p>Logga in om du vill gå med i detta projekt!</p>
            }

        else if (!ViewBag.Projects.Contains(ViewBag.ProjId.ToString()))
        {
            <input type="button" value="Gå med i projekt" onclick="location.href='@Url.Action("JoinProject", "Home", new { id = ViewBag.ProjId })'" />
        }
        else
        {
            <input type = "button" value = "Gå ur projekt" onclick = "location.href='@Url.Action("LeaveProject", "Home", new {id = ViewBag.ProjId})'" />
        }

        <p> Skapad av :  @ViewBag.creator </p>
    </div>
</div>