

@model IEnumerable<Data.Models.Project>

@{
    ViewBag.Title = "Projekt som är inlagda i systemet";
}

<h2>Index</h2>



@if (ViewBag.Id != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Firstname)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Deltagande i projekt
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.User.Firstname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Titel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @if (ViewBag.Id != null)
        {
            @Html.DropDownList("Deltagande", new SelectList(ViewBag.Users, "Firstname"))
        }
        else if (ViewBag.Id == null)
        {
            @Html.DropDownList("Deltagande", new SelectList(ViewBag.UsersNoPrivate, "Firstname"))
        }
    </td>

    @if (item.Creator == ViewBag.Id)
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
        </td>
    }
    else if (ViewBag.Id != null && item.Creator != ViewBag.Id)
    {
        //kod att kontrollera om användaren är med i projektet eller inte
        foreach (var id in ViewBag.Projects)
        {
            if (id == item.ProjectID)
            {
                break;
            }
            else
            {
                <td>
                    <input type="button" value="Gå med i projekt" onclick="location.href='@Url.Action("Insert", "Project", new {id = item.ProjectID})'" />
                </td>
            }
        }



    }


</tr>
    }

</table>

