

@model IEnumerable<Grupp_2.Models.ProjectsViewModel>

@{
    ViewBag.Title = "Projekt som är inlagda i systemet";
}

<h2>Index</h2>



@if (ViewBag.Id != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Creator)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Deltagande i projekt
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (ViewBag.Id != null)
                {
                    @Html.DropDownList("Deltagande", new SelectList(item.Users, "Firstname"))
                }
                else if (ViewBag.Id == null)
                {
                    @Html.DropDownList("Deltagande", new SelectList(item.UsersNotHidden, "Firstname"))
                }
            </td>

            @if (item.CreatorID == ViewBag.Id)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
                </td>
            }
            else if (ViewBag.Id != null && item.CreatorID != ViewBag.Id)
            {



                if (!ViewBag.Projects.Contains(item.ProjectID.ToString()))
                {

                    <td>
                        <input type="button" value="Gå med i projekt" onclick="location.href='@Url.Action("Insert", "Project", new {id = item.ProjectID})'" />
                    </td>
                }
                else
                {
                    <td>
                        <input type="button" value="Gå ur projekt" onclick="location.href='@Url.Action("Remove", "Project", new {id = item.ProjectID})'" />
                    </td>
                }


            }


        </tr>
    }

</table>



